.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

h1 {
  font-weight: 900;
  font-size: 24px;
  font-family: "Manjari";
}

span {
  margin-right: 20px;
}

.container {
  margin: 0 auto;
  max-width: 880px;
}

/* Question Form Styling */
.question-form {
  margin: 25px;
}

form {
  display: flex;
  flex-direction: column;
  vertical-align: center;
}

form.form {
  padding: 75px 80px;
  border-radius: 5px;
  background-color: #effbfe;
}

.form h2 {
  font-weight: 900;
}

input {
  font-size: 18px;
  margin: 20px;
  border-radius: 5px;
}

.basic-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.option {
  font-size: 18px;
  margin-right: 30px;
}

.inputQ {
  width: 90%;
  height: 100px;
  margin: 25px;
  padding: 10px 5px;
  border-radius: 5px;
  text-overflow: wrap;
  font-size: 16px;
}

label {
  font-family: "Manjari";
  font-size: 18px;
  text-align: left;
}

.submit {
  vertical-align: middle;
  width: 25%;
  margin: 20px auto;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #00ced1;
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.submit:hover {
  background-color: white;
  color: #00c3d1;
  cursor: pointer;
}

/* parent response form styling */
.parent-response-form {
  padding: 75px 80px;
  border-radius: 5px;
  background-color: #e5fae6;
  margin: 25px;
}

.question-from-teacher {
  background-color: white;
  border-radius: 5px;
  padding: 20px 30px;
  font-size: 20px;
  text-align: center;
}

.question-from-teacher p {
  line-height: 2;
}
.parent-response-form h4 {
  font-size: 20px;
}

Rating {
  font-size: 20px;
}

/* question result page */
.teacher-question-result {
  padding: 75px 80px;
  border-radius: 5px;
  background-color: #effbfe;
  margin: 25px;
}

.question-from-teacher h3 {
  text-align: center;
  line-height: 2;
  word-spacing: 1px;
}

.student-rating {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: white;
  border-radius: 5px;
}
.rateclass:nth-child(odd) {
  border-radius: 5px;
}

.rate {
  padding: 20px;
  font-weight: 700;
  font-size: 16px;
  border-bottom: 1px dashed black;
  margin-bottom: 10px;
}

.student-rate {
  margin: 0px 5px;
  font-family: "manjari";
  font-weight: 700;
}

.student-rate p {
  padding: 10px 0px;
}
